/*This media works for really small screens such as iphone 5 and older models */
@media only screen and (max-width: 370px) {
  header li {
    padding: 0;
  }
  .background {
    padding: 0;
  }
  .about-text p{
    font-size: .8em;
    word-wrap: break-word;
  }
  .small-wrap {
    min-height: 600px;
  }
  .portfolio {
    margin: 60px 0;
  }
  .contact {
    padding: 20px 15px;
  }
}

/*This Media works for Iphone 6 and bigger phones */
@media only screen and (min-width: 360px) and (max-width:499px) {
  .about-text p{
    font-size: .9em;
  }
  .small-wrap {
    min-height: 600px;
  }
}

/*This Media works for ipads and tablets */
@media only screen and (min-width: 500px) and (max-width: 770px) {
  .small-wrap {
    min-height: 200px;
  }
  html {
    font-size: 1rem;
  }
  nav {
    width: 80%;
    margin: 0 auto;
  }
}

/*-----------DESKTOP VERSION MEDIA QUERY BELOW ---------*/
@media only screen and (min-width: 900px),
       only screen and (min-width:850px) and (orientation: landscape) {
 html {
   font-size: 1.3rem;
 }

 header h1 {
   float: left;
   padding-left: 25px;
 }

header{
  padding-top: 15px;
  overflow: auto;
}

nav {
  width: 85%;
  margin: 0 auto;
}

nav ul {
  float: right;
}

.contact {
  width: 80%;
  margin: 0 auto;
}

.contact-1 {
  float:left;
  width: 40%;
}

.contact-2 {
  float: right;
  width: 45%;
  padding: 40px 0;
}

.background {
 height: 100%;
 min-height: 650px;
}
/****BOTTOM HALF OF PAGE DESKTOP*******/
#service1 {
  float: left;
}

#service2 {
  float: right;
}

.middle-page ul {
  width: 50%;
  padding: 20px;
}
.main-footer {
  overflow: auto;
}

footer {
  padding-top: 40px;
  clear: both;
  border: none;
}

.middle-page{
    width: 70%;
    margin: 0 auto;
}

#about-photo {
  padding: 0 15px;
}
}

@media only screen and (min-width:1050px) {
  #about-photo {
    max-width: 300px;
    margin: 0 80px
  }
}
/*MEDIA QUERY FOR LARGER FONT SIZE- BIGGER SCREENS*/
@media only screen and (min-width: 1600px) {
  html {
    font-size: 1.5rem;
  }
  nav {
    width: 75%;
  }
  #about-photo {
    max-width: 400px;
    padding: 0 15px;
    }
  .background p{
    line-height: 2.5rem;
  }
}
